@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: hsl(225, 100%, 94%) url(../img/pattern-background-mobile.svg) no-repeat top center /cover;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 375px;
}

.image img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: -5px;
}


.info {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 35px;
    border-radius: 0px 0px 20px 20px;
}
.info > h1 {
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.info > p {
    margin: auto;
    text-align: center;
    width: 275px;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    padding-top: 10px;
}


.plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    margin-top: 25px;
    padding: 20px 25px;
    border-radius: 10px;
    position: relative;
}
.type-plan-and-price {
    position: absolute;
    left: 90px;
    text-align: center;
}
.type-plan-and-price .type-plan {
    font-size: 1.1rem;
    color: hsl(223, 47%, 23%);
}
.type-plan-and-price .price {
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
}
.plans .change > a {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}
.plans .change > a:hover {
    text-decoration: none;
    color: hsl(245, 60%, 61%);
}


.payment {
    background-color: hsl(245, 75%, 52%);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.payment > a {
    color: white;
    text-decoration: none;
}
.payment:hover {
    background-color: hsl(245, 60%, 61%);
}


.cancel {
    margin: 20px auto 10px;
}
.cancel a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}
.cancel a:hover {
    color: hsl(223, 47%, 23%);
}



@media screen and (min-width: 992px) { /* Desktops */
    body {
        background: hsl(225, 100%, 94%) url(../img/pattern-background-desktop.svg) no-repeat top center /contain;
    }
}